  .algo-name-header-wrapper {
    margin-bottom: 1em;
  }

  .toolbar-wrapper {
    width: 300px;
    height: 70px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
  }

  .toolbar-wrapper .switches-group {
    width: 275px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .toolbar-wrapper .button-group {
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .switch {
    border: 1px solid #ccc;
    width: 50px;
    height: 26px;
    border-radius: 13px;
    cursor: pointer;
    display: inline-block
  }

  .switch-toggle {
    border: 1px solid #999;
    box-shadow: 1px 1px 1px #ccc;
    width: 25px;
    height: 24px;
    left: 0;
    border-radius: 12px;
    background: #fff;
    position: relative;
    transition: left .2s ease-in-out
  }

  .switch.on {
    background: rgb(153, 149, 149)
  }

  .switch.on .switch-toggle {
    left: 23px
  }

  .switch.disabled {
    cursor: not-allowed
  }

