{
  "plugins": [
    "transform-async-to-generator",
    "transform-runtime"
  ],
  "presets": [
    "react",
    "env",
    "stage-2"
  ],
  "env": {
    "targets": { "node": "8"} // specify targets here
  }
}
