body {
  padding: 10px;
  background-color: rgb(19, 66, 5);
}

#turn {
  color: white;
}

h1, h2 {
  text-align: center;
}
#board{
  margin: 0 auto;
}

#board td{
  border: 1px solid #ddd;
  width: 40px;
  height: 40px;
}

td.alive {
  background-color: rgb(209, 84, 12);
}

td.dead {
  background-color: rgb(19, 66, 5);
}

#control_panel {
  margin: 10px auto;
  text-align: center;
}
